
@{
    ViewData["Title"] = "GraphTimeSpentView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GraphTimeSpentView</h1>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <canvas id="chart" width="200" height="200"></canvas>
    </div>
</div>
<script>
var ctx = document.getElementById('chart').getContext('2d');
var pieChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [@ViewBag.Xs], //xs 
        datasets: [{
            label: 'Time Spent On Tasks',
            data: [@ViewBag.Ys], //ys
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',

                'rgba(250, 100, 128, 0.2)',
                'rgba(57, 160, 230, 0.2)',
                'rgba(225, 180, 86, 0.2)',
                'rgba(150, 192, 192, 0.2)',
                'rgba(88, 102, 255, 0.2)',
                'rgba(230, 159, 64, 0.2)',

                'rgba(255, 150, 132, 0.2)',
                'rgba(54, 100, 235, 0.2)',
                'rgba(255, 250, 86, 0.2)',

                'rgba(75, 192, 170, 0.2)',
                'rgba(153, 102, 52, 0.2)',
                'rgba(255, 159, 80, 0.2)',

                'rgba(255, 99, 104, 0.2)',
                'rgba(54, 102, 235, 0.2)',
                'rgba(200, 206, 86, 0.2)',
                'rgba(50, 192, 192, 0.2)',
                'rgba(153, 142, 255, 0.2)',
                'rgba(255, 159, 100, 0.2)',




                'rgba(245, 99, 132, 0.2)',
                'rgba(54, 140, 235, 0.2)',
                'rgba(255, 206, 51, 0.2)',
                'rgba(75, 192, 156, 0.2)',
                'rgba(153, 57, 255, 0.2)',
                'rgba(199, 159, 64, 0.2)',

                'rgba(212, 100, 128, 0.2)',
                'rgba(57, 123, 230, 0.2)',
                'rgba(225, 180, 80, 0.2)',
                'rgba(150, 192, 180, 0.2)',
                'rgba(88, 72, 255, 0.2)',
                'rgba(215, 159, 64, 0.2)',

                'rgba(178, 150, 132, 0.2)',
                'rgba(54, 150, 235, 0.2)',
                'rgba(255, 250, 57, 0.2)',

                'rgba(75, 140, 170, 0.2)',
                'rgba(153, 150, 52, 0.2)',
                'rgba(255, 127, 80, 0.2)',

                'rgba(73, 99, 104, 0.2)',
                'rgba(50, 102, 235, 0.2)',
                'rgba(175, 206, 86, 0.2)',
                'rgba(50, 192, 184, 0.2)',
                'rgba(153, 142, 222, 0.2)',
                'rgba(255, 159, 198, 0.2)',

                'rgba(50, 175, 192, 0.2)',
                'rgba(153, 101, 255, 0.2)',
                'rgba(255, 135, 100, 0.2)'
            ],
            hoverOffset: 4
        }]
    },
});
</script>
